URL=koppa.pro
PORT=3000
NODE_ENV=develop
VERSION=0.0.1

S3_ENDPOINT=https://s3.koppa.pro
S3_ACCESS_KEY=seb
S3_SECRET_KEY=
S3_BUCKET=koppa
S3_REGION=ch-origin-1

REDIS_URL=redis://redis:6379

DB_ADAPTER=mysql
DB_USERNAME=Koppa
DB_PASSWORD=
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=Koppa
